body {
    margin: 0px;
    height: 100%;
}

.logo-img {
    width: 120px;
    margin-left: 52px;
    margin-top: 22px;
}

.night {
    display: none;
}

.head {
    flex-direction: row;
    text-align: center;
}

.head-txt {
    width: 350px;
    display: inline-block;
    padding-right: 38px;
}

.head-txt h1 {
    font-size: 3.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #333333;
    font-family: Arial;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 1.15em;
    text-transform: none;
    text-align: justify;
}

.head-txt p {
    margin-top: 1.5rem;
    color: #757575;
    font-family: arial;
    font-size: 1.25rem;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.4em;
    text-transform: none;
    text-align: justify;
}

.head-gif {
    display: inline-block;
    padding-left: 38px;
}

.head-gif img {
    width: 450px;
    height: 350px;
}

.primary {
    background-color: #2bb24c;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1rem;
    margin-top: 0;
    margin-right: 0.5rem;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    min-width: 50px;
    box-sizing: border-box;
    letter-spacing: 0;
    box-shadow: none;
    outline: 0;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.secondry {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: #757575;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1rem;
    margin-top: 0;
    margin-right: 0.5rem;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    min-width: 50px;
    box-sizing: border-box;
    letter-spacing: 0;
    box-shadow: none;
    outline: 0;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.head-txt2 {
    display: none;
}

.thanks {
    display: none;
}

@media only screen and (max-width: 750px) {
    .logo-img {
        width: 90px;
        margin-left: 5%;
        margin-top: 0%;
        display: inline-block;
    }
    .night {
        display: inline-block;
        padding: 3px;
        height: 30px;
        width: 30px;
        margin-top: 7%;
        margin-right: 5%;
        float: right;
    }
    .night-mode {
        display: inline-block;
        padding: 3px;
        height: 30px;
        width: 30px;
        margin-top: 7%;
        margin-right: 5%;
        background: rgba(0, 0, 0, 0.18);
        border-radius: 50%;
        float: right;
    }
    .head-txt {
        display: none;
    }
    .head-txt2 {
        display: block;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 2%;
    }
    .head-txt2 .heading {
        margin-top: 0%;
        margin-bottom: 0.2%;
        font-size: 2.1rem;
        line-height: 1.15em;
        text-align: justify;
        font-family: arial;
        letter-spacing: 0.2rem;
        background: linear-gradient(to top, #ffe838, #fd57bf);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .head-txt2 .tagline {
        margin-top: 0%;
        margin-bottom: 0.2%;
        font-size: 0.9rem;
        line-height: 1.15em;
        text-align: justify;
        font-family: arial;
        letter-spacing: 0.2rem;
        background: linear-gradient(to top, #ffe838, #fd57bf);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .head-gif {
        padding-left: 0px;
        margin-top: 2%;
    }
    .head-gif img {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
    }
    .head-button {
        margin-top: 7%;
    }
    .primary {
        display: block;
        width: 100%;
    }
    .secondry {
        display: block;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .thanks {
        margin-top: 5px;
        display: block;
        text-align: center;
        margin-left: 9%;
    }
    .thanks p {
        color: #757575;
        font-family: Roboto Mono;
        font-size: 0.9rem;
        letter-spacing: 0.2rem;
        line-height: 1.4em;
        text-transform: none;
        text-align: justify;
        display: inline;
        padding-left: 5%;
    }
    .thanks img {
        width: 100px;
        margin-left: -20px;
        margin-bottom: -6%;
    }
    .page1 {
        display: none;
    }
    .page2 {}
    .page2 .page2-head h1 {
        display: none;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 1;
        font-weight: 700;
        text-align: center;
        background-color: linear-gradient(to top, #ffe838, #fd57bf);
        font-size: 2rem;
        letter-spacing: -0.025em;
    }
    .one {
        margin-left: 8%;
    }
    .three {
        margin-right: 8%;
    }
    .slider {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 3%;
    }
    .slider1 {
        display: inline;
    }
    .slider2 {
        display: inline;
    }
    .slider3 {
        display: inline;
    }
    .slider1 img {
        width: 72%;
    }
    .slider2 img {
        width: 72%;
    }
    .slider3 img {
        width: 72%;
    }
    .slider1-a {
        margin-top: 2%;
        font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    }
    .slider2-a {
        margin-top: 2%;
        font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    }
    .slider3-a {
        margin-top: 2%;
        font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    }
}

@media only screen and (max-height: 600px) {
    .head-gif {
        padding-left: 0px;
        margin-top: 0%;
    }
    .head-gif img {
        height: 68%;
        width: 68%;
    }
}