body {
    margin: 0px;
    width: 100%;
}

.logo-img {
    width: 120px;
    margin-left: 52px;
    margin-top: 22px;
}

.head {
    flex-direction: row;
    text-align: center;
}

.head-txt {
    width: 350px;
    display: inline-block;
    padding-right: 38px;
}

.head-txt h1 {
    font-size: 3.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #333333;
    font-family: Arial;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 1.15em;
    text-transform: none;
    text-align: justify;
}

.head-txt p {
    margin-top: 1.5rem;
    color: #757575;
    font-family: arial;
    font-size: 1.25rem;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.4em;
    text-transform: none;
    text-align: justify;
}

.head-gif {
    display: inline-block;
    padding-left: 38px;
}

.head-gif img {
    width: 450px;
    height: 350px;
    margin-bottom: -50px;
}

.primary {
    background-color: #2bb24c;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1rem;
    margin-top: 0;
    margin-right: 0.5rem;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    min-width: 50px;
    box-sizing: border-box;
    letter-spacing: 0;
    box-shadow: none;
    outline: 0;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.secondry {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: #757575;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1rem;
    margin-top: 0;
    margin-right: 0.5rem;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    min-width: 50px;
    box-sizing: border-box;
    letter-spacing: 0;
    box-shadow: none;
    outline: 0;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.head-txt2 {
    display: none;
}

@media only screen and (max-width: 750px) {
    .logo-img {
        width: 105px;
        margin-left: 5%;
        margin-top: 15px;
    }
    .head-txt {
        display: none;
    }
    .head-txt2 {
        display: block;
        margin-top: 70px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .head-txt2 h1 {
        font-size: 2.5rem;
        line-height: 1.15em;
        text-align: justify;
        font-family: arial;
    }
    .head-txt2 p {
        font-size: 1.20rem;
        text-align: justify;
        font-family: arial;
    }
    .head-gif {
        display: block;
        padding-left: 0px;
    }
    .head-gif img {
        width: 340px;
        height: 290px;
        margin-bottom: -20px;
    }
    .head-button {
        margin-top: 40px;
    }
    .primary {
        display: block;
        width: 100%;
    }
    .secondry {
        display: block;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}